*{
    font-family: 'Montserrat', sans-serif;
    
}
body {
    margin: 0;
    padding: 0;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#budgetSection {
    margin: 20px;
}

#bar {
    width: 0%;
    height: 100%;
    background-color: #31D2F2;
    border-radius: 5px;
}

.barOutline {
    width:409px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    height: 30px;
}

.trackerContainer {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    align-items: center;
}

#numericTracker {
    font-size: x-large;
}

#expenseList {
    margin: 20px;
    padding:20px;
    background-color:  rgba(160, 209, 255, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: large;
}

.itemizedExpenses {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#expensesButton {
    float: right;
}

.close {
    text-align: right;
    padding-right: 15px;
    font-weight: bold;
    cursor: pointer;
    
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .modal-content {
        width: 80%;
    }
}

#clearBudgetButton {
    margin: 10px;
    }

.budgetButtonContainer {
    display: flex;
    justify-content: center;
}

.budgetHeader {
    font-family:'Dancing Script', cursive;
    font-weight: 700;
    font-size: xxx-large;

    background-color:rgb(255, 228, 158);
    text-shadow:2px 2px 2px rgb(255, 203, 72);

    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;    
}

.budgetTitle {
    font-family:'Dancing Script', cursive;
    font-weight: 700;
    font-size: xxx-large;
}

.currBudget {
    padding: 10px;

    font-style: italic;

    border-radius: 10px;
}


.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;


    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup-content {
    border-radius: 5px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;

  }

 .budgetType {
    padding:10px;
 }

 .budgetAmount {
    padding: 10px;
 }

 .expenseInfo { 
    display: flex;
    flex-direction: column;
 }

 .expenseItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 30px;
 }

 .type,
 .amount {
    font-size: larger;
    font-weight: bold;
 }
 
 