* {
    font-family: 'Inter', sans-serif;
    

}




.budget-header h1 {
    font-weight: bold;
}

.expense-list h4 {
    font-weight: bold;
}

.alert-option {
    color:red;
    font-weight:bold;
    

}


.expense-item {
    color:red;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    

}
.alert-amount {
display:none;
}


.alert-select {
display:none;
}

.progress {
    width: 50%;
    margin-bottom: 10px;
    margin-left: 5px;


}

.optional-comment {
    color:aqua;
}

.wrapper {
    margin-top:20px;
    margin-left: 200px;
}

.budget-wrapper {
    width: 700px;
    




}

.budget-header {
    display: flex;
    justify-content: space-between;
   

}

.budget-amount {

    display: flex;
    justify-content: space-between;
    width: 40%;
    padding-left: 5px;



}



.expense-headers {
    position:relative;
    display:flex;
    justify-content: space-between;
     padding-top:5px;
     flex-wrap: wrap;
    
}
.expense-headers h6 {
    flex: 1 0 50%;
}
.notes {
    float:left;
    position:relative;
    right:60px;
}

.copy-link {
    background-color: #f75940;
    border-color: #f75940;
    border-radius: 20px;
}


.budgetSaveButton {
    background-color: #f75940;
    border-color: #f75940;
    border-radius: 20px;
}

.side-bar-budget {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding-right: 5px;
}

.add-expense {
    margin-bottom: 5px;
}

.expense-buttons {
    display: flex;
    padding-left: 5px;



}

.button {
    border-radius: 20px;


}


.trip-name {
    padding-bottom: 30px;
    padding-left: 5px;
}

.wrapper {
    width: 50%;
}

.edit-budget {
    margin-right: 10px
}

.expense-list {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 715px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

.active,
.accordion:hover {
    background-color: #ccc;
}


.panel {
    padding: 0 5px;
    background-color: white;
    display: none;
    overflow: hidden;

}