body {
  overflow-x: hidden;
}

* {
  font-family: 'Montserrat', sans-serif;
}

/* Navigation bar styling*/
#navbar {
  background-color: #f2f2f2;
  padding: 20px;
}

#navbar a {
  text-decoration: none;
  margin-right: 10px;
  color: black;
}

#logo-container img {
  width: 100%;
  max-width: 200px; 
  height: auto;
  margin-right: 10px;
}

#logo-container h1 {
  margin: 0;
  font-size: 18px;
}

/* For small screens */
@media (max-width: 767px) {
   #navbar {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; /
    align-items: center;
    position: sticky;
    top: 0;
    padding-top: 50px;
    z-index: 1; 
  }


  .index-page #logo-container {
    justify-content: flex-start; /* Align logo and name to the left */
    margin-bottom: 0;
  }

  .index-page #logo-container img {
    display: none; /* Hide the logo image on small screens */
  }

  .index-page #navbar a {
    flex: 0 0 auto; /* Disable flex-grow */
  }
}

/* For large screens */
@media (min-width: 768px) {
  .index-page {
    display: flex;
  }

  .index-page #main-content {
    flex: 1; /* Makes body occupy remaining space */
  }

  .index-page #navbar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    align-items: center;
    width: 200px;
    z-index: 1;
  }

  .index-page #logo-container {
    margin-bottom: 20px;
    flex-direction: column; 
    align-items: center;
  }

  .index-page #logo-container h1 {
    display: none; 
  }

  .index-page #navbar a {
    display: block;
    margin: 10px 0;
  }
}


/* (START OF NICOLE'S PORTION) */

  .nicoleIntro {
    padding-top:0px;

    /* background-image: linear-gradient(to bottom right, #00aeff , #3dcf62); */

    background-position: center;

    display: flexblock;
    justify-content: center;

  }

  
  #locationTitle {
    text-align: center;
    margin-top: 30px;
    /* background-color: #87CEFA; */
    font-family:'Dancing Script', cursive;
    font-weight: bolder;
    color:rgb(255, 203, 72);
    text-shadow: 1px 1px 1px black;
    padding: 5px;
    display: flex;
    justify-content: center;
    
  }
  
  #startAndEnd {
    text-align: center;
    display:flex;
    gap: 10px;
    justify-content: space-around;
  }
  
  #start, #end{
    /* margin-left: 200px; */
    text-align: center;

    color:rgb(255, 203, 72);
    text-shadow: 1px 1px 1px black;

    /* background-color: rgb(219, 246, 251); */
    border-radius: 10px;
    padding: 5px;

    font-family:'Dancing Script', cursive;
  }

  #outputStart,
  #outputEnd,
  #outputTitle {
    color: black;
    text-shadow: 0px 0px 0px;
    font-weight: bolder;
    /* background-color: rgb(219, 246, 251); */
    border-radius: 5px;

    width: fit-content;

   
  }

  hr {
    width: 70%;
    /* margin-left: 270px; */
    line-height: 10px;
  }

  .title {
    background-color: #87CEFA;
    padding: 5px;

    font-family: 'Dancing Script', cursive;
    font-weight: bolder;

  }
  
  /* (END OF NICOLES PORTION) */
  
  /* Beginning of Alejandra's portion */

.thingsToDoTitle {
  font-family:'Dancing Script', cursive;
  font-weight: 700;
  font-size: xxx-large;
  background-color:rgb(255, 228, 158);
  text-shadow:2px 2px 2px rgb(255, 203, 72);
  display: flex;
  justify-content: center;
}

  .alejandraIntro {
    /* margin-left: 200px; */
    text-align: center;
  }
  
  .thingsToDoItemized {
    /* background-color: aliceblue; */
    padding:50px;
    padding-top: 5px;
    padding-bottom: 10px;
    /* margin-right: 50px; */
  
  }
  
  .placeToVisitItem {
    background-color: #87CEFA;
  }

  .placeToVisitItemBody {
    background-color: aliceblue;
  }
  
  .noColor {
    background-color: white;
  }
  
  .displayButtons {
  
    /* max-width: 1000px; */
    
  }
  
  .centerContent {
    /* margin-left: 200px; */
    display: flex;
    justify-content: center;
  }
  
  
  /* End of Alejandra's Portion */
  

  .radar {
    color: #0D6FE5;  
  }

  .roam {
    color: #03C1AF;
}

.restaurantsTitle {
  font-family:'Dancing Script', cursive;
  font-weight: 700;
  font-size: xxx-large;
  background-color:rgb(255, 228, 158);
  text-shadow:2px 2px 2px rgb(255, 203, 72);
  display: flex;
  justify-content: center;
}
