*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    /* color: #07458F;#3CACAE */
    color:white;
  
  
  }
  body{
     background-image:url("../images/vibrant-food.jpg");
     height: auto;
     max-width: 100%;
     background-position: center;
     background-size: cover;
     /* border-image-repeat: no-repeat; */
     align-content: space-around;
  
  }
  .container{
    z-index: 2;
    
  padding-top: auto;
  padding: botton 20px;
  margin: 50px;
  align-content:space-around;
  }
  
  h1 {
      color: white;
  }
  
  .Text {
    margin-left: 200px;
  }
  .form-group{
    margin-left: 200px;
  
  }
  .buttonGroup {
    /* display: flex; */
    display:flex;
    justify-content:space-around;
    /* justify-content: space-around; */
    text-align: center;
  }
  
  .table {
    background-color:#87CEFA;
  }
  a.nav-link{
      text-decoration: none;
      font-weight: bolder;
  }
  .nav-item{
   margin-bottom: 25px;
  }
  #goToItinerary a{
  text-decoration: none;
  }
  
  