*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    /* color: #07458F;#3CACAE */
    /* color:white; */
  
  
  }
  body{
     /* background-image:url("../images/vibrant-food.jpg"); */
     height: auto;
     max-width: 100%;
     background-position: center;
     background-size: cover;
     /* border-image-repeat: no-repeat; */
     align-content: space-around;
  
  }
  .container{
    /* z-index: 2; */

    margin: 0px;
    padding: 0px;
    
    
  /* padding-top: auto; */
  /* padding: botton 20px;
  margin: 50px; */
  /* align-content:space-around; */
  }
  
  h1 {
      /* color: black; */
  }
/*   
  .Text {
    margin-left: 200px;
  }
  .form-group{
    margin-left: 200px;
  
  } */

  .buttonGroup {
    display:flex;
    text-align: center;
    justify-content: center;
  }
  
  .button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.header {
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  font-family:'Dancing Script', cursive;
  font-weight: 700;
  font-size: xxx-large;
  background-color:rgb(255, 228, 158);
  text-shadow:2px 2px 2px rgb(255, 203, 72);
}

  
  .table {
    background-color:#87CEFA;
  }
  a.nav-link{
      text-decoration: none;
      font-weight: bolder;
  }
  .nav-item{
   margin-bottom: 25px;
  }
  #goToItinerary a{
  text-decoration: none;
  }

  .restaurantQuestions {
    padding: 25px;
  }
  
  