*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */

}

body {
    background-color: aliceblue;
}

.header {
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family:'Dancing Script', cursive;
    font-weight: 700;
    font-size: xxx-large;
    background-color:rgb(255, 228, 158);
    text-shadow:2px 2px 2px rgb(255, 203, 72);
}

table {
    /* border-collapse:separate; */
    /* border:solid black 1px; */
    /* border-radius:15px; */
    background-color:beige;
    word-wrap: break-word;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

td, th {
    /* border-left:solid black 1px;
    border-top:solid black 1px; */
}



.openHoursCell {
    min-width: 250px;
    vertical-align: middle;
}

/* th {
    background-color: blue;
    border-top: none;
} */

.itemInformation {
    /* background-color: hotpink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


label {
    font-weight: 700;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.tableButton {
    margin: 10px;
}




.tableItemName {
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-align: center;

    /* background-color: white; */
    /* background-color:rgb(255, 228, 158); */
    text-shadow:2px 2px 2px rgb(255, 203, 72);
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

td {
    vertical-align: middle;
}

.thingsToDoContent {
    /* margin-left: 200px; */
    /* padding-right: 2rem; */
    padding: 20px;
}

.addItineraryButton {
    margin: 0px;
    
}

.buttonRow{
    display: flex;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .hide-on-medium {
      display: none;
    }
  }



  
  .placesToVisitQuestions {
    /* padding: 30px; */
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .visitWebsiteButton {
    display: flex;
    justify-content: center;

    margin: 5px;
    margin-bottom: 15px;
  }

/* 
.backgroundHeader {
    background-image: url("/images/Boardwalk\ over\ ocean.jpg");
    height:400px;
    width:100%;
    background-size: cover;
    background-position: 100%;
} */