*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */

}

body {
    background-image: url("");
    background-size: contain;

    /* background-color: #d0eafb; */
}

.header {
    padding: 20px;
    margin-bottom: 30px;

    /* border: #14544b; */
    /* border-width: 5px;
    border-style: solid; */

    display: flex;
    justify-content: center;

    /* margin-left: 170px; */

    font-family:'Dancing Script', cursive;
    font-weight: 700;
    font-size: xxx-large;

    background-color:rgb(255, 228, 158);
    text-shadow:2px 2px 2px rgb(255, 203, 72);


    display: flex;
    justify-content: center;

}

table {
    /* border-collapse:separate; */
    /* border:solid black 1px; */
    /* border-radius:15px; */
    word-wrap: break-word;
}

td, th {
    /* border-left:solid black 1px;
    border-top:solid black 1px; */
}



.openHoursCell {
    min-width: 250px;
}

th {
    background-color: blue;
    border-top: none;
}

.itemInformation {
    /* background-color: hotpink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.table {
    /* background-color: #b2d2fa; */
    background-color: #87CEFA;
}

label {
    font-weight: 700;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}



.tableItemName {
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-align: center;

    display: flex;
    justify-content: center;
    /* align-items: center; */
}

td {
    vertical-align: middle;
}

.thingsToDoContent {
    /* margin-left: 200px; */
    /* padding-right: 2rem; */
    padding: 20px;
}

.addItineraryButton {
    margin: 0px;
    
}

.buttonRow{
    display: flex;
    /* justify-content: space-around; */
    /* text-align: center; */
    justify-content: center;
}



@media screen and (max-width: 768px) {
    .hide-on-medium {
      display: none;
    }
  }

/* 
.backgroundHeader {
    background-image: url("/images/Boardwalk\ over\ ocean.jpg");
    height:400px;
    width:100%;
    background-size: cover;
    background-position: 100%;
} */