*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Raleway', sans-serif; */

}

body {
    background-image: url("");
    background-size: contain;

    background-color: #d0eafb;
}

.header {
    background-color: #87CEFA;
    /* background-image: url("/images/"); */
    color: #14544b;
    font-weight: 700;

    font-family: 'Pacifico', cursive;
    
    padding: 20px;
    margin-bottom: 30px;

    border: #14544b;
    border-width: 5px;
    border-style: solid;

    display: flex;
    justify-content: center;

    margin-left: 170px;

}

table {
    /* border-collapse:separate; */
    /* border:solid black 1px; */
    border-radius:15px;
}

td, th {
    /* border-left:solid black 1px;
    border-top:solid black 1px; */
    
}

.openHoursCell {
    min-width: 250px;
}

th {
    background-color: blue;
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}

.table {
    /* background-color: #b2d2fa; */
    background-color: #87CEFA;
}

label {
    font-weight: 700;
}



.tableItemName {
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
}

td {
    vertical-align: middle;
}

.thingsToDoContent {
    margin-left: 200px;
    padding-right: 2rem;
    
}

.addItineraryButton {
    margin: 0px;
    
}

.buttonRow{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
/* 
.backgroundHeader {
    background-image: url("/images/Boardwalk\ over\ ocean.jpg");
    height:400px;
    width:100%;
    background-size: cover;
    background-position: 100%;
} */